{% load static %}

<!-- Footer Area -->
<Footer class="container-fluid footerarea">
    <div class="footer-links">
      <div class="footer-part">
        <span class="f-title">Important Links</span>
        <ul class="f-links">
          <li class="items"><a class="nav-link" href="{%url 'home'%}">Home</a></li>
          <li class="items"><a class="nav-link" href="#about-anchor">About</a></li>
          <li class="items"><a class="nav-link" href="#product-anchor">Product</a></li>
        </ul>
      </div>
      <div class="footer-part">
        <span class="f-title">Policies</span>
        <ul class="f-links" > 
          <li class="items"><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
          <li class="items"><a href="{% url 'terms&conditions' %}">Terms & Conditions</a></li>
          <li class="items"><a href="{% url 'returnrefund' %}">Cancellation & Refund</a></li>
        </ul>
      </div>
      <div class="footer-part">
        <span class="f-title">Social Links</span>
        <ul class="f-links">
          <li class="items"><a href="https://www.facebook.com/healthrins">Facebook</a></li>
          <li class="items"><a href="https://www.instagram.com/healthrins">Instagram</a></li>
          <li class="items"><a href="{%url 'contact'%}">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-tag">
      <h5>Healthrins @2022 designend by Fridth</h5>
    </div>
  </Footer>
  <!-- Footer area closed -->