{% load static %}

<!-- Footer Area -->
<Footer class="container-fluid footerarea">
    <div class="footer-links">
      <div class="footer-part">
        <span class="f-title">Important Links</span>
        <ul class="f-links">
          <li class="items">Home</li>
          <li class="items">About Us</li>
          <li class="items">Contact Us</li>
          <li class="items">Our Product</li>
        </ul>
      </div>
      <div class="footer-part">
        <span class="f-title">Our Product</span>
        <ul class="f-links">
          <li class="items">Home</li>
          <li class="items">About Us</li>
          <li class="items">Contact Us</li>
          <li class="items">Our Product</li>
        </ul>
      </div>
      <div class="footer-part">
        <span class="f-title">Social Links</span>
        <ul class="f-links">
          <li class="items">Home</li>
          <li class="items">About Us</li>
          <li class="items">Contact Us</li>
          <li class="items">Our Product</li>
        </ul>
      </div>
    </div>
    <div class="footer-tag">
      <h5>Ketozine @2022 designend by Fridth</h5>
    </div>
  </Footer>
  <!-- Footer area closed -->