{% load static %}
<!-- navbar desinging -->
<div class="container-fluid">
  <!-- navbar desinging -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid navigation">
      <a class="navbar-brand" href="{%url 'home'%}"><img src="/static/images/new_images/healthrins.png" alt="healthrins" width="200" height="100"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-4 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about-anchor">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'home' %}#product-anchor" for="">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        
        <div class="user-icons">
          <a href="#" class="nav-icons" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <ion-icon name="person-circle"></ion-icon>
          </a>
          <a href="/base/templates/base/cart.html" class="nav-icons">
            <ion-icon name="cart"></ion-icon>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- ending of navbar -->
</div>
<!-- ending of navbar -->
{%include 'base/signup.html'%}
