{% extends 'main.html' %}
{% block content %}
<!-- Body content -->

<div class="container-sm product-page-container">
    <div class="Product-image">
        <div class="big-image"><img src="/static/images/product_images/pic1.png" class="product-page-image" id="product-page-image" class="product-page-image" alt=""></div>
        <div class="small-images">
            <div class="small-img-col">
            <img src="/static/images/product_images/pic1.png" alt="" class="choti-images">
            </div>
            <div class="small-img-col">
                <img src="/static/images/product_images/pic2.png" alt="" class="choti-images">
                </div>
            <div class="small-img-col">

                <img src="/static/images/product_images/pic3.png" alt="" class="choti-images">
            </div>
            <!-- <div class="small-img-col">

                <img src="/static/images/product_images/pic2.png" alt="" class="choti-images">
                    </div>-->
            </div>
    </div>
    <div class="product-pricing-details px-2">
        <div class="product-details-div1">
            <h1>Himvedas Keto Ultra Weight Loss Capsule</h1>
        </div>
        <div class="product-details-div2">
            <span class="product-price">Rs.4000</span><span class="sale-price">Rs.<span id="p-price">{{product.price}}</span></span>
        </div>
        <div class="product-details-div4">
            <p>


                Maximum Strength 70 % HCA
                Supports Appetite Control
                Weight Management
                Product Code : KT-01
                800mg per capsules.


            </p>
        </div>
        <form action="" method="post">
            {% csrf_token %}
        <div class="product-details-div3">
            <span><input type="number" name="quantity" id="" value="1" class="quantity-box "></span>
            <span><select class="form-select pack-select" aria-label="Default select example" id="pack-select" name="pack-select" onchange="pack()">
                    <option selected value="1">pack of 1</option>
                    <option value="2">Pack of 2</option>
                    <option value="3">Pack of 3</option>
                    <!-- <option value="3">Three</option> -->
                </select></span>
            <input type="submit" class="btn btn-warning btn-buy-now" value="Buy Now">
        </div>
        </form>
    </div>
</div>

<hr class="divider">
<div class="des-review">
    <button type="button" class="btn btn-light desc-heading">Description</button>
    <button type="button" class="btn btn-light desc-heading">Review(0)</button>
</div>
<!-- product description table -->
<div class="container-fluid px-5 py-5">
    <table class="table table-hover table-bordered">
        <tr>
            <td>Form</td>
            <td>Capsule</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
    </table>
</div>
<script>
    function pack(){
        var productimage=document.getElementById('product-page-image')
        var productchange= document.getElementsByClassName("choti-images")
        var packselect= document.getElementById('pack-select').value;

        if(packselect==1){
            document.getElementById('p-price').innerHTML='{{product.price}}';
            productimage.src=productchange[0].src
            
        }
        else if(packselect==2){
        document.getElementById('p-price').innerHTML='{{product.pack2}}';
            productimage.src=productchange[1].src
            
        }
        else{
        document.getElementById('p-price').innerHTML='{{product.pack3}}';
            productimage.src=productchange[2].src
            
        }
}
</script>
{%endblock%}
