{% extends 'main.html' %}
{% block content %}
<!-- Body content -->

<div class="container-sm product-page-container">
    <div class="Product-image">
        <img src="/static/images/product_images/pic1.png" class="product-page-image" id="product-page-image" alt="">
        <div class="small-images">
            <div class="small-img-col">
            <img src="/static/images/product_images/pic3.png" alt="" class="choti-images">
            </div>
            <div class="small-img-col">

                <img src="/static/images/product_images/pic2.png" alt="" class="choti-images">
                </div>
            <div class="small-img-col">

                <img src="/static/images/product_images/pic2.png" alt="" class="choti-images">
            </div>
            <div class="small-img-col">

                <img src="/static/images/product_images/pic2.png" alt="" class="choti-images">
                    </div>
            </div>
    </div>
    <div class="product-pricing-details">
        <div class="product-details-div1">
            <h1>Himvedas Keto Ultra Weight Loss Capsule</h1>
        </div>
        <div class="product-details-div2">
            <span class="product-price">Rs.4000</span><span class="sale-price">Rs.3500</span>
        </div>
        <div class="product-details-div4">
            <p>


                Maximum Strength 70 % HCA
                Supports Appetite Control
                Weight Management
                Product Code : KT-01
                800mg per capsules.


            </p>
        </div>
        <div class="product-details-div3">
            <span><input type="number" name="quantity" id="" value="1" class="quantity-box "></span>
            <span><select class="form-select pack-select" aria-label="Default select example">
                    <option selected>Pack of 1</option>
                    <option value="1">Pack of 2</option>
                    <option value="2">Pack of 3</option>
                    <!-- <option value="3">Three</option> -->
                </select></span>
            <button type="button" class="btn btn-warning btn-buy-now">Buy Now</button>

        </div>
    </div>
</div>

<hr class="divider">
<div class="des-review">
    <button type="button" class="btn btn-light desc-heading">Description</button>
    <button type="button" class="btn btn-light desc-heading">Review(0)</button>
</div>
<!-- product description table -->
<div class="container">
    <table class="table table-hover table-bordered">
        <tr>
            <td>Form</td>
            <td>Capsule</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>Himvedas</td>
        </tr>
    </table>
</div>
{%endblock%}
