
{% load static %}
<!-- {%block content%} -->
<!-- Modal -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ketozine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <section class="text-center text-lg-start">


          <!-- Jumbotron -->
          <div class="container-fluid width-login py-4">
            <div class="row g-0 align-items-center login-logout-separater">
              <div class="signup">
                <div class="card cascading-right" style="
                background: hsla(0, 0%, 100%, 0.55);
                backdrop-filter: blur(30px);
                ">
                  <div class="card-body p-5 shadow-5 text-center">
                    <div class="row">

                      <h2 class="fw-bold mb-5  col-6" style="background-color: black; color:white;" onclick=signupfunc()>Sign up</h2>
                      <h2 class=" mb-5  col-6" style="background-color:gainsboro ; color:black;" onclick=signinfunc()>Login</h2>
                    </div>
                    <div class="login-signup-separtor" id="login-signup-separtor">
                      <div class="signup" id="signup">
                        
                      </div>
                  <!-- login up code -->
                  <div class="login container-fluid shadow-5" id="signin">
                    <div class="form-outline mb-4 mt-4">
                      <input type="email" id="form3Example3" class="form-control" placeholder="Email address" />
                    </div>
                    <div class="form-outline mb-4">
                      <input type="password" id="form3Example4" class="form-control" placeholder="Password" />
                    </div>
                    <div class="form-check d-flex justify-content-between mb-2">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                      <b> Remember me </b>
                      <p>Forget password?</p>
                    </div>
                    <div class="d-grid gap-2 col-9 mx-auto">
                      <button class="btn btn-outline-dark" style="background-color: black; color:white;"
                        type="button">Sign in</button>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
                

              <!-- <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="/manisha_project/template/images/himvedas.jpeg" class="w-100 rounded-4 shadow-4"
              alt="" />
          </div> -->
            </div>

          </div>
          <!-- Jumbotron -->
        </section>

      </div>
    </div>
  </div>
</div>
<!-- {%endblock%} -->
